.cardContainer {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  transition: 0.8s ease;
  cursor: pointer;
  margin: 30px;
}

.cardContainer:hover {
  transform: scale(1.05);
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6); */
}
